// Anidacion
.caja {
    h2{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;

    }
}